
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes slideInBottom {
  0%{
    transform: translateY(10%);
    opacity: 0;
  } 
}
.slide-in-bottom{
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: calc();
  animation-name: slideInBottom;
}
html, body {
  margin: 0;
  background-color: #fffefe;
  color: rgb(255, 255, 255);
}
a{
  font-style:calc()
}
.footer{
  padding: 5px;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: 14px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 220, 45);
}
.images{
  width: 100%;
  align-items: center;
  justify-content: center;
}